:host{
    div[events-content]{
        display: flex;
        flex-direction: row;
        gap: 10px;
<<<<<<< HEAD
        background-color: #f8f5f3;
=======
>>>>>>> creation-list-events
    }
    h3{
        text-align: center;
        text-decoration: underline;
    }
}