<h2>Evenement : {{event.name}}</h2>
<div dropdown-content>
    <div dj>
        <mat-form-field>
            <mat-label>DJ</mat-label>
            <mat-select [(ngModel)]="dj" name="dj" (selectionChange)="updateDjEvent($event)">
                <mat-option *ngFor="let dj of listDJ" [value]="dj">{{dj.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        <button (click)="showInfoDj = !showInfoDj">Show info DJ</button>
        <div info-dj *ngIf="showInfoDj">
            <p>name : {{dj.name}}<br>
            description : {{dj.description}}<br>
            email : {{dj.email}}<br>
            phone : {{dj.phone}}</p>
        </div>
    </div>
    <div traiteur>
        <mat-form-field>
            <mat-label>Traiteur</mat-label>
            <mat-select [(ngModel)]="traiteur" name="traiteur" (selectionChange)="updateTraiteurEvent($event)">
                <mat-option *ngFor="let traiteur of listTraiteur" [value]="traiteur">{{traiteur.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        <button (click)="showInfoTraiteur = !showInfoTraiteur">Show info Traiteur</button>
        <div info-traiteur *ngIf="showInfoTraiteur">
            <p>name : {{traiteur.name}}<br>
            description : {{traiteur.description}}<br>
            email : {{traiteur.email}}<br>
            phone : {{traiteur.phone}}</p>
        </div>
    </div>
    <div create-task>
        <button (click)="showFormCreateTask = !showFormCreateTask">+ Create task</button>
        <div edit-mode *ngIf="showFormCreateTask">
            <span> 
                <label id="name">Name</label>
                <input [(ngModel)]="newTask.name" title="name">
            </span>
           <span>
                <label id="name">Description</label>
                <input [(ngModel)]="newTask.description" title="description">
           </span>
           <span>
            <mat-form-field>
                <mat-label>User Task</mat-label>
                <mat-select [(ngModel)]="newTask.id_user" name="user">
                    <mat-option *ngFor="let user of listUsers" [value]="user.id">{{user.prenom}}{{user.nom}}</mat-option>
                </mat-select>
            </mat-form-field>
           </span>
           <button createTask (click)="createTask()">Create</button>
        </div>
    </div>
</div>

<h2>Taches en cours :</h2>
<div tasks-content>
<app-item-task *ngFor="let task of listTasksInProgress" [task]="task" [listUsers]="listUsers" [user]="getUserPerTask(task)" (onUpdate)="updateTask($event)" (onDelete)="deleteTask($event)"></app-item-task>
</div>

<h2>Taches terminées :</h2>
<div tasks-content>
<app-item-task *ngFor="let task of listTasksDone" [task]="task" [listUsers]="listUsers" [user]="getUserPerTask(task)" (onUpdate)="updateTask($event)" (onDelete)="deleteTask($event)"></app-item-task>
</div>