:host{
    .content {
        background-color: rgb(218, 218, 218);
        width: auto;
        min-width: 200px;
        height: auto;
        padding: 10px;
        border-radius: 25px;
        border: 1px solid black;
        margin-bottom: 10px;

        p[name]{
            text-align: center;
            font-size: 16px;
            font-weight: 500;
        }
        span[user]{
            font-weight: 500;
        }

        div[edit-mode]{
            display: flex;
            flex-direction: column;
            gap: 10px;
            span{
                display: flex;
                flex-direction: column;
            }
        }
        div[button-content]{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;
            button{
                height: 35px;
                &[edit]{
                    background-color: rgb(131, 131, 255);
                }
                &[delete]{
                    background-color: red;
                }
                &[save]{
                    background-color: green;
                }
            }
        }   
    }
}