<html>
<div class="form-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="mat-field">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Email address" formControlName="email" />
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <input matInput type="password" placeholder="Password" formControlName="password" />
    </mat-form-field>
    <div>
      <button type="submit">Connexion</button>
      <p class="center margin-top">New to our platform ?
        <a class="register-link" routerLink="/register">Sign up !</a>
      </p>
    </div>
  </form>
</div>

</html>
