<div class="content" style="width: 400px; display: inline-flex; justify-content: flex-end; align-items: center; gap: 76px; border-radius: 50px; border: 2px solid #373636; background: #FFF;">
    <div card-content *ngIf="!editMode">
        <p title>{{event.name}}</p>
        <!-- <p>description : {{event.description}}</p> -->
    </div>
    <div edit-mode *ngIf="editMode">
        <label id="name">Name</label>
        <input [(ngModel)]="event.name" title="name">
        <label id="name">Description</label>
        <input [(ngModel)]="event.description" title="description">
    </div>
    <div button-content>
        <button class="edit-button" (click)="editMode = true" *ngIf="!editMode">&#9998;</button>
        <button class="delete-button" (click)="deleteEvent()" *ngIf="!editMode">&#10006;</button>
        <!-- <button detail (click)="detailEvent()" *ngIf="!editMode">detail</button> -->
        <button class="save-button" (click)="updateEvent()" *ngIf="editMode">💾</button>
    </div>
</div>
